temp/1de47b7a974b5a182e3cf1ece08eb636.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name=""><xs:complexType><xs:sequence><xs:element name="Question" type="xs:string" minOccurs="1" maxOccurs="unbounded">dds</xs:element><xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="unbounded">sds</xs:element><xs:element name="Option1" type="xs:string" minOccurs="1" maxOccurs="unbounded">sdsds</xs:element><xs:element name="Option2" type="xs:string" minOccurs="1" maxOccurs="unbounded">sdsds</xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>