temp/4b0d348d4a989fb47063a7f23a7ad1b7.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element><xs:complexType><xs:sequence><xs:element name="ques_type" type="xs:string" minOccurs="1" maxOccurs="unbounded">fib-meta</xs:element><xs:element name="Question" type="xs:string" minOccurs="1" maxOccurs="unbounded">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. <\n></xs:element><xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="unbounded">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </xs:element><xs:element name="Option1" type="xs:string" minOccurs="1" maxOccurs="unbounded">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will </xs:element><xs:element name="Option2" type="xs:string" minOccurs="1" maxOccurs="unbounded">It is a long established fact that a reader will be distracted by the readable content of a page when looking </xs:element><xs:element name="Option3" type="xs:string" minOccurs="1" maxOccurs="unbounded">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>